/* ! About styles */

body { background-color: #eee; }
#about { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); border: 1px solid #ccc; -webkit-border-radius: 10px; -webkit-box-shadow: 0 5px 25px #999; margin: 50px auto 0 auto; padding: 25px; text-shadow: 0 1px 0 #fff; width: 500px; }
#header { background: transparent; border-color: #fff; border-width: 0 0 1px 0; margin-bottom: 25px; padding: 0 0 25px 0; }
#header:after { clear: both; content: ""; display: block; height: 0; overflow: hidden; visibility: hidden; }
#header a, .split-module a { border-bottom-style: none; }
#header a:active, #header a:focus, #header a:hover, .split-module a:active, .split-module a:focus, .split-module a:hover { border-bottom-style: solid; }
#header h1 { margin-bottom: 7px; }
#header img { float: left; margin-right: 10px; }
#header p { line-height: 1; }
.split-module { float: left; width: 33%; }
.url { clear: both; padding-top: 10px; }