.web-developer-outline-absolute-positioned-elements { outline: 1px solid #f00 !important; }
.web-developer-outline-fixed-positioned-elements { outline: 1px solid #0f0 !important; }
.web-developer-outline-relative-positioned-elements { outline: 1px solid #00f !important; }
