table { border: 1px solid #b94a48 !important; border-collapse: separate !important; }
table table { border-color: #468847 !important; }
table table table { border-color: #3a87ad !important; }
table table table table { border-color: #b94a48 !important; }
table table table table table { border-color: #468847 !important; }
table table table table table table { border-color: #3a87ad !important; }
