/* Dashboard styles */

html { padding-bottom: 0; }
#web-developer-dashboard-panels .nav-tabs > li:first-child, #web-developer-dashboard-tabs > li:first-child { margin-left: 5px; }
#web-developer-dashboard-resizer { background-color: #e6e6e6; border-bottom: 1px solid #a3a3a3; color: #666; cursor: row-resize; font-size: 9px; height: 5px; line-height: 5px; text-align: center; }
#web-developer-dashboard-tabs { margin: 5px 0; }
#web-developer-dashboard-title { background: url(@common.prefix@/common/images/logos/16.png) no-repeat 0 0; font-size: 14px; line-height: 16px; margin: 0; padding-left: 20px; position: absolute; right: 5px; top: 21px; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
{
  #web-developer-dashboard-title { background-image: url(@common.prefix@/common/images/logos/32.png); background-size: 16px 16px; }
}

/* Edit CSS styles */

#web-developer-edit-css-panels > div > textarea { border-style: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 13px; height: 100%; word-wrap: normal; }

/* Element information styles */

#element-information-panel { margin: 0 5px; overflow: scroll; }

/* Element ancestors styles */

#current-element-ancestors { border-top: 1px solid #a3a3a3; bottom: 0; -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); left: 0; position: fixed; width: 100%; }
#current-element-ancestors > .breadcrumb { background-color: #e6e6e6; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; margin: 0; }
#current-element-ancestors > .breadcrumb > li { color: #333; }
#current-element-ancestors > .breadcrumb > li > a { color: #999; cursor: text; pointer-events: none; text-decoration: none; }
