#web-developer-color-picker-hover-color, #web-developer-color-picker-selected-color { border: 1px solid #a3a3a3; display: inline-block; height: 30px; margin: 0 10px 0 5px; top: 0; width: 30px; }
#web-developer-color-picker-hover-hex { margin-right: 20px; }
#web-developer-color-picker-hover-hex, #web-developer-color-picker-selected-hex { font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 13px; }
h1, img, span { position: relative; top: -10px; }
