/* ! Element information styles */

* { cursor: crosshair !important; }

#web-developer-element-information, #web-developer-element-information *
{
	background-image: none !important;
	-webkit-box-shadow: none !important;
	clear: none !important;
  color: #000 !important;
  font-family: verdana, "bitstream vera sans", sans-serif !important;
	font-size: 13px !important;
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: normal !important;
  height: auto !important;
	letter-spacing: 0 !important;
	line-height: 1 !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: left !important;
	text-decoration: none !important;
	text-transform: none !important;
  width: auto !important;
}

#web-developer-element-information { background-color: #fff !important; box-shadow: 0 0 20px #000 !important; -webkit-box-shadow: 0 0 20px #000 !important; left: 20px !important; max-width: 500px !important; min-width: 250px !important; position: fixed !important; top: 20px !important; z-index: 2147483647 !important; }
#web-developer-element-information h1::selection { background-color: transparent !important; }
#web-developer-element-information h2 { background-color: #000 !important; color: #fff !important; padding: 5px !important; }
#web-developer-element-information p { font-family: monospace !important; }
#web-developer-element-information #web-developer-element-information-header { background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)) !important; border-color: #ddd !important; border-style: solid !important; border-width: 0 1px 1px 1px !important; cursor: move !important; padding: 5px !important; }
#web-developer-element-information #web-developer-element-information-header h1 { background: url(images/logo.png) no-repeat top right !important; font-family: monospace !important; font-size: 15px !important; text-shadow: 0 1px 0 #fff !important; word-wrap: break-word !important; }
#web-developer-element-information h1.description { font-family: verdana, "bitstream vera sans", sans-serif !important; }
#web-developer-element-information .none { font-family: verdana, "bitstream vera sans", sans-serif !important; }
#web-developer-element-information .section { overflow: hidden !important; padding: 5px !important; word-wrap: break-word !important; }
