/* ! Reset styles */

#web-developer-line-guide-information, #web-developer-line-guide-information *
{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
	clear: none !important;
	float: none !important;
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: normal !important;
  height: auto !important;
	letter-spacing: 0 !important;
	line-height: 1 !important;
	margin: 0 !important;
	opacity: 1 !important;
	padding: 0 !important;
	position: static !important;
	text-align: left !important;
	text-decoration: none !important;
	text-shadow: none !important;
	text-transform: none !important;
  width: auto !important;
}

/* ! Line guides styles */

*::selection { background-color: transparent !important; }
*::-moz-selection { background-color: transparent !important; }
