/* ! Ruler styles */

* { cursor: crosshair !important; }

#web-developer-ruler { background-color: rgba(255, 0, 0, 0.2) !important; border: 1px dotted #f00 !important; left: -25px; position: absolute !important; top: -25px; z-index: 2147483647 !important; }
#web-developer-ruler-bottom-left { border-width: 1px 1px 0 0 !important; bottom: 0 !important; cursor: sw-resize !important; left: 0 !important; }
#web-developer-ruler-bottom-right { border-width: 1px 0 0 1px !important; bottom: 0 !important; cursor: se-resize !important; right: 0 !important; }
#web-developer-ruler-container { cursor: move !important; height: 100% !important; overflow: hidden !important; position: relative !important; width: 100% !important; }
#web-developer-ruler-container div { border-color: #f00 !important; border-style: dotted !important; height: 20px !important; position: absolute !important; width: 20px !important; }
#web-developer-ruler-top-left { border-width: 0 1px 1px 0 !important; cursor: nw-resize !important; left: 0 !important; top: 0 !important; }
#web-developer-ruler-top-right { border-width: 0 0 1px 1px !important; cursor: ne-resize !important; right: 0 !important; top: 0 !important; }
