/* Ruler styles */

* { cursor: crosshair !important; }

#web-developer-ruler { border-width: 1px !important; cursor: move !important; }
#web-developer-ruler, #web-developer-ruler div { border-color: #f00; border-style: solid !important; }
#web-developer-ruler, #web-developer-ruler div, #web-developer-ruler-background-bottom, #web-developer-ruler-background-left, #web-developer-ruler-background-right, #web-developer-ruler-background-top, #web-developer-ruler-container { position: absolute !important; }
#web-developer-ruler div { background-color: rgba(255, 0, 0, 0.25); height: 20px !important; width: 20px !important; }
#web-developer-ruler-background-bottom, #web-developer-ruler-bottom-left, #web-developer-ruler-bottom-right { bottom: 0 !important; }
#web-developer-ruler-background-bottom, #web-developer-ruler-background-left, #web-developer-ruler-background-right, #web-developer-ruler-background-top { background: rgba(0, 0, 0, 0.25) !important; height: 0; width: 0; }
#web-developer-ruler-background-bottom, #web-developer-ruler-background-top, #web-developer-ruler-bottom-left, #web-developer-ruler-container, #web-developer-ruler-top-left { left: 0 !important; }
#web-developer-ruler-background-right, #web-developer-ruler-bottom-right, #web-developer-ruler-top-right { right: 0 !important; }
#web-developer-ruler-background-top, #web-developer-ruler-container, #web-developer-ruler-top-left, #web-developer-ruler-top-right { top: 0 !important; }
#web-developer-ruler-bottom-left { border-width: 1px 1px 0 0 !important; cursor: sw-resize !important; }
#web-developer-ruler-bottom-right { border-width: 1px 0 0 1px !important; cursor: se-resize !important; }
#web-developer-ruler-container { z-index: 2147483647 !important; }
#web-developer-ruler-top-left { border-width: 0 1px 1px 0 !important; cursor: nw-resize !important; }
#web-developer-ruler-top-right { border-width: 0 0 1px 1px !important; cursor: ne-resize !important; }
