* { cursor: crosshair !important; }

#web-developer-ruler { border-width: 1px !important; cursor: move !important; }
#web-developer-ruler, #web-developer-ruler div { border-color: #cc0000; border-style: solid !important; }
#web-developer-ruler, #web-developer-ruler div, #web-developer-ruler-background-bottom, #web-developer-ruler-background-left, #web-developer-ruler-background-right, #web-developer-ruler-background-top, #web-developer-ruler-container { margin: 0 !important; padding: 0 !important; position: absolute !important; }
#web-developer-ruler div { background-color: #c00; background-color: rgba(204, 0, 0, 0.25); height: 20px !important; width: 20px !important; }
#web-developer-ruler-background-bottom, #web-developer-ruler-bottom-left, #web-developer-ruler-bottom-right { bottom: 0 !important; }
#web-developer-ruler-background-bottom, #web-developer-ruler-background-left, #web-developer-ruler-background-right, #web-developer-ruler-background-top { background: #000; background: rgba(0, 0, 0, 0.25) !important; height: 0; width: 0; }
#web-developer-ruler-background-bottom, #web-developer-ruler-background-left, #web-developer-ruler-background-right, #web-developer-ruler-background-top, #web-developer-ruler-container { border-style: none !important; }
#web-developer-ruler-background-bottom, #web-developer-ruler-background-top, #web-developer-ruler-bottom-left, #web-developer-ruler-container, #web-developer-ruler-top-left { left: 0 !important; }
#web-developer-ruler-background-right, #web-developer-ruler-bottom-right, #web-developer-ruler-top-right { right: 0 !important; }
#web-developer-ruler-background-top, #web-developer-ruler-container, #web-developer-ruler-top-left, #web-developer-ruler-top-right { top: 0 !important; }
#web-developer-ruler-bottom-left { border-width: 1px 1px 0 0 !important; cursor: sw-resize !important; }
#web-developer-ruler-bottom-right { border-width: 1px 0 0 1px !important; cursor: se-resize !important; }
#web-developer-ruler-container { z-index: 2147483647 !important; }
#web-developer-ruler-end-x, #web-developer-ruler-start-x { margin: 0 10px 0 5px; }
#web-developer-ruler-end-y { margin-left: 5px; }
#web-developer-ruler-height, #web-developer-ruler-width { margin: 0 20px 0 0; width: 60px; }
#web-developer-ruler-start-y { margin: 0 20px 0 5px; }
#web-developer-ruler-top-left { border-width: 0 1px 1px 0 !important; cursor: nw-resize !important; }
#web-developer-ruler-top-right { border-width: 0 0 1px 1px !important; cursor: ne-resize !important; }
