/* Options styles */

.bi { fill: currentColor; height: 1em; vertical-align: -0.125em; width: 1em; }
.single .btn-danger { display: none; }
.tab-content { max-width: 800px; }

/* Drag and drop styles */

.draggable { cursor: move; user-select: none; }
.dragging { opacity: 0.25; }
