body { padding: 0; }
html { overflow: hidden; }
#web-developer-syntax-highlight-example { border-style: none; margin-bottom: 0; overflow-y: scroll; padding: 0 5px; }
#web-developer-syntax-highlight-example, .CodeMirror-scroll { height: 150px; }
