/* Element ancestors styles */

html { overflow: auto; }
.breadcrumb { -webkit-border-radius: 0; border-radius: 0; border-style: none; margin: 0; padding-bottom: 4px; padding-top: 4px; }
.breadcrumb > li { color: #404040; }
.breadcrumb > li > a { color: #808080; cursor: text; text-decoration: none; }
.container-fluid { min-width: 0; padding: 0; }
