/* ! View cookie information styles */

#delete-dialog { display: none; }
.web-developer-cookie { margin-top: -50px; padding-top: 50px; }
.web-developer-edit { margin-right: 10px; }
.web-developer-separator { margin: 25px; }
