/* View document size styles */

tbody > tr.odd { background-color: #f9f9f9; }
td:first-child { max-width: 500px; padding-left: 14px; word-wrap: break-word; }
td:nth-child(2), td:nth-child(3), th:nth-child(2), th:nth-child(3) { text-align: right; width: 150px; white-space: nowrap; }
#web-developer-total > td, .web-developer-section > td:first-child { font-weight: bold; }
#web-developer-total td:first-child { padding-left: 10px; }
.table { margin-top: 60px; width: auto; }
.web-developer-section { cursor: pointer; }
.web-developer-section > td > i { margin-right: 5px; }
.web-developer-section > td:first-child { padding-left: 0; }
