/* ! Message dialog styles */

separator, #web-developer-message-dialog { margin: 0; padding: 0; }
#web-developer-message { font-weight: bold; padding-right: 35px; }
#web-developer-message-details { background-color: #fff; color: #000; padding: 0.5em; }
#web-developer-message-details > box { background-image: url("chrome://webdeveloper/content/images/logo/large.png"); background-position: top right; background-repeat: no-repeat; min-height: 35px; }
.url { color: #00f; cursor: pointer; text-decoration: underline; }
.url:hover { color: #f00; }