#web-developer-outline-custom-elements-dialog > groupbox { margin: 0; }
#web-developer-outline-custom-elements-dialog .groupbox-body { -webkit-appearance: none; -moz-appearance: none; padding-left: 0; padding-right: 0; }
