/* Dashboard styles */

html { overflow: auto; padding-bottom: 0; }
#web-developer-dashboard-panels .nav-tabs > li:first-child, #web-developer-dashboard-tabs > li:first-child { margin-left: 5px; }
#web-developer-dashboard-resizer { background-color: #e6e6e6; border-bottom: 1px solid #a3a3a3; color: #666; cursor: row-resize; font-size: 9px; height: 5px; line-height: 5px; text-align: center; }
#web-developer-dashboard-tabs { margin: 5px 0; }
#web-developer-dashboard-title { background: url(/common/images/logos/16.png) no-repeat 0 0; font-size: 14px; line-height: 16px; margin: 0; padding-left: 20px; position: absolute; right: 5px; top: 21px; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
{
  #web-developer-dashboard-title { background-image: url(/common/images/logos/32.png); background-size: 16px 16px; }
}

/* Edit CSS styles */

#web-developer-edit-css-panels > div > textarea { border-style: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 13px; height: 100%; word-wrap: normal; }

/* Element ancestors styles */

#current-element-ancestors { bottom: 0; left: 0; position: fixed; width: 100%; }
#current-element-ancestors > .breadcrumb > li > a { cursor: text; pointer-events: none; text-decoration: none; }
#web-developer-content { background-color: #f5f5f5; border-style: none; color: #333; font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 13px; margin: 0; padding: 0; width: 100%; word-wrap: normal; }
.breadcrumb { overflow: hidden; position: relative; }
.CodeMirror { border-color: #000; border-color: rgba(0, 0, 0, 0.15); border-style: solid; border-width: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }
.web-developer-ancestors > ol > .last { display: none; }
.web-developer-css .CodeMirror-scroll > div { height: auto !important; }
.web-developer-middle-ancestor a { cursor: text; text-decoration: none; }
