/* Element information styles */

html { padding-bottom: 10px; }
.CodeMirror { border: 1px solid rgba(0, 0, 0, 0.15); -webkit-border-radius: 3px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }
.web-developer-ancestors, .web-developer-children { padding-bottom: 10px; }
.web-developer-ancestors > ul, .web-developer-children > ul { background-color: #f5f5f5; border: 1px solid rgba(0, 0, 0, 0.15); -webkit-border-radius: 4px; border-radius: 4px; list-style-type: none; margin: 0; padding: 10px; }
.web-developer-ancestors > ul > li, .web-developer-children > ul > li { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.web-developer-ancestors > ul > li.last { display: none; }
.web-developer-css .CodeMirror-scroll > div { height: auto !important; }
.web-developer-section { display: inline-block; margin: 10px 2% 0 0; vertical-align: top; width: 49%; }
.web-developer-section:nth-child(even) { margin-right: 0; }
