/* Common styles */

body { -moz-font-feature-settings:"liga=1, dlig=1"; -moz-font-feature-settings:"liga", "dlig"; -webkit-font-feature-settings:"liga", "dlig"; font-feature-settings:"liga", "dlig"; text-rendering: optimizeLegibility; }
