#notification { background: #ffffca url(images/notification.png) 5px 5px no-repeat; border: 1px solid #ffdb63; display: none; margin-top: 5px; padding: 5px 5px 5px 30px; position: relative; text-shadow: 0 1px 0 #fff; }
#notification:after, #notification p:after { clear: both; content: ""; display: block; height: 0; overflow: hidden; visibility: hidden; }
#notification p { line-height: 18px; }
