/* ! Tabs styles */

.nav-tabs > li > a { outline-style: none; padding: 6px 9px; }
.nav-tabs > li > a > span { background-repeat: no-repeat; display: inline-block; height: 16px; margin-right: 4px; position: relative; top: 2px; width: 16px; }
