/* Mac styles */

/* Toolbar styles */

.web-developer-name { padding-left: 20px; }

/* Dashboard styles */

#web-developer-dashboard-tab-panels { padding-top: 1.5em; }

/* Edit CSS styles */

#web-developer-edit-css-tab-box { margin-top: 0.5em; }
#web-developer-edit-css-tab-panels { padding-top: 1em; }

/* Options styles */

prefpane .groupbox-title { border-bottom: 1px solid #ccc; }

/* Outline custom elements styles */

#web-developer-outline-custom-elements-dialog .groupbox-title { border-bottom: 1px solid #ccc; }

/* Mac color styles */

/* Web Developer menus */

#web-developer-app-menu.color, #web-developer-context.color, #web-developer-menu.color, #web-developer-seamonkey.color { list-style-image: url(chrome://web-developer/skin/color/menu.png); }

/* Web Developer button */

#web-developer-button.color { list-style-image: url(chrome://web-developer/skin/color/button.png); }

/* Toolbar buttons */

#web-developer-cookies-toolbar.color, #web-developer-css-toolbar.color, #web-developer-disable-toolbar.color, #web-developer-forms-toolbar.color, #web-developer-images-toolbar.color, #web-developer-information-toolbar.color, #web-developer-miscellaneous-toolbar.color, #web-developer-options-toolbar.color, #web-developer-outline-toolbar.color, #web-developer-resize-toolbar.color, #web-developer-tools-toolbar.color, #web-developer-view-source-toolbar.color { list-style-image: url(chrome://web-developer/skin/color/toolbar.png); }

/* Statusbar buttons */

#web-developer-css-statusbar[web-developer-color="true"], #web-developer-javascript-statusbar[web-developer-color="true"], #web-developer-render-mode-statusbar[web-developer-color="true"] { list-style-image: url(chrome://web-developer/skin/color/statusbar.png); }

/* Dashboard buttons */

.color #web-developer-clear-dashboard, .color #web-developer-move-dashboard, .color #web-developer-open-dashboard, .color #web-developer-pin-dashboard, .color #web-developer-reset-dashboard, .color #web-developer-save-dashboard, .color #web-developer-search-dashboard { list-style-image: url(chrome://web-developer/skin/color/dashboard.png); }

/* Menu item icons */

#web-developer-button.color menuitem.menuitem-iconic, #web-developer-context.color menuitem.menuitem-iconic, #web-developer-menu.color menuitem.menuitem-iconic, #web-developer-seamonkey.color menuitem.menuitem-iconic, #web-developer-toolbar.color menuitem.menuitem-iconic { list-style-image: url(chrome://web-developer/skin/color/disabled.png); }

/* Feature toolbar buttons */

.color .web-developer-close { list-style-image: url(chrome://web-developer/skin/color/close.png); }
.color .web-developer-name { background-image: url(chrome://web-developer/skin/color/button.png); }

/* Page validation toolbar buttons */

.color #web-developer-css-validation[class], .color #web-developer-html-validation[class] { list-style-image: url(chrome://web-developer/skin/color/validation.png); }
