/* ! Navigation styles */

#header div { display: none; }
#header h2 { font-size: 11px; margin-bottom: 0; text-transform: uppercase; }
#header li { line-height: 15px; margin-bottom: 5px; }

#controls { border-left: 1px dotted #999; float: right; padding-left: 2%; width: 20%; }
#controls li, #jump-to li { list-style-type: none; }
#controls ul, #jump-to ul { margin: 0; }
#jump-to { margin-right: 1%; width: 77%; }
#jump-to, #jump-to li { float: left; }
#jump-to li { margin-right: 3%; width: 47%; word-wrap: break-word; }
#jump-to li:nth-child(odd) { clear: both; }

/* ! Common styles */

h1 a { border-bottom-color: #999; color: #999; font-size: 15px; }
h1 a:hover { border-bottom-color: #ccc; color: #ccc; }
h1 span { margin-left: 10px; position: relative; top: -2px; }

.separator { border-top: 1px dotted #999; margin: 15px auto 10px auto; width: 50%; }

/* ! Document styles */

h2 span { background: url(images/document.png) 0 4px no-repeat; display: block; float: left; height: 20px; width: 20px; }

/* ! Collapse styles */

h3 span { background: url(images/collapse.png) 0 2px no-repeat; cursor: pointer; display: block; float: left; height: 19px; width: 20px; }
.collapsed span { background-image: url(images/expand.png); }

#collapse-all { background-image: url(images/collapse.png); }
#collapse-all, #expand-all { background-position: 0 0; background-repeat: no-repeat; cursor: pointer; padding: 1px 0 0 20px; }
#collapse-all:hover, #expand-all:hover { text-decoration: underline; }
#expand-all { background-image: url(images/expand.png); }
