/* View color information styles */

.web-developer-color { height: 100px; }
.web-developer-color, .web-developer-color-container span { width: 100px; }
.web-developer-color-container { border: 1px solid #ddd; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); display: inline-block; margin: 0 20px 20px 0; padding: 4px; }
.web-developer-color-container > span { background-color: #fff; display: block; font-family: Monaco, Andale Mono, Courier New, monospace; font-size: 12px; line-height: 20px; text-align: center; }
