#delete-dialog, #edit-dialog { display: none; }
.help-inline { padding: 5px 0 0 0; }
.web-developer-cookie { margin-top: -50px; padding-top: 50px; }
.web-developer-edit { margin-left: 10px; }
.web-developer-separator { margin: 25px; }
