/* ! Default styles */

::selection { background-color: transparent; }
body { background-color: #fff; color: #000; font: 13px/1 "Helvetica Neue", Helvetica, Arial, sans-serif; overflow: hidden; width: 745px; }
input[type=submit] { cursor: pointer; }
th { text-align: left; }

/* ! Toolbar styles */

#toolbar { background-color: #eee; -webkit-border-radius: 5px; list-style-type: none; text-shadow: 0 1px 0 #fff; }
#toolbar:after { clear: both; content: ""; display: block; height: 0; overflow: hidden; visibility: hidden; }
#toolbar li { background-position: 5px 5px; background-repeat: no-repeat; cursor: pointer; display: block; float: left; line-height: 16px; padding: 5px 15px 5px 25px; }
#toolbar li:hover { background-color: #ccc; }
#toolbar li:hover, #toolbar .selected { -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; }
#toolbar .selected, #toolbar .selected:hover { background-color: #ddd; font-weight: bold; }

#css-toolbar { background-image: url(images/toolbar/css.png); width: 20px; }
#forms-toolbar { background-image: url(images/toolbar/forms.png); width: 35px; }
#images-toolbar { background-image: url(images/toolbar/images.png); width: 40px; }
#information-toolbar { background-image: url(images/toolbar/information.png); width: 65px; }
#miscellaneous-toolbar { background-image: url(images/toolbar/miscellaneous.png); width: 80px; }
#options-toolbar { background-image: url(images/toolbar/options.png); width: 40px; }
#outline-toolbar { background-image: url(images/toolbar/outline.png); width: 40px; }
#resize-toolbar { background-image: url(images/toolbar/resize.png); width: 35px; }
#tools-toolbar { background-image: url(images/toolbar/tools.png); width: 30px; }

/* ! Menu styles */

.menu { background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee)); -webkit-border-radius: 5px; display: none; padding: 5px; text-shadow: 0 1px 0 #fff; }
.menu:after { clear: both; content: ""; display: block; height: 0; overflow: hidden; visibility: hidden; }
.menu li { cursor: pointer; line-height: 16px; margin: 5px 0; padding-left: 20px; }
.menu li:hover { text-decoration: underline; }
.menu ul { float: left; margin-right: 10px; width: 235px; }
.menu ul:last-child { margin-right: 0; }
.menu .active { background: url(images/active.png) 0 0 no-repeat; font-weight: bold; }
.menu .active:hover { background-image: url(images/deactivate.png); }

#css-menu { -webkit-border-top-left-radius: 0; }
#options-menu { -webkit-border-top-right-radius: 0; }

/* ! Notification styles */

#notification { background: -webkit-gradient(linear, left top, left bottom, from(#ffffca), to(#ffec96)); border: 1px solid #ffdb63; display: none; margin-top: 5px; padding: 5px 5px 5px 30px; position: relative; text-shadow: 0 1px 0 #fff; }
#notification:after, #notification p:after { clear: both; content: ""; display: block; height: 0; overflow: hidden; visibility: hidden; }
#notification p { line-height: 18px; }
#notification td, #notification th { padding: 0 25px 3px 0; }
#notification .icon { background: url(images/notification.png) 0 0 no-repeat; display: block; height: 16px; left: 5px; position: absolute; top: 5px; width: 16px; }

/* ! Resize window dialog styles */

#resize-window-dialog { background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee)); -webkit-border-radius: 5px; display: none; float: left; padding: 5px; text-shadow: 0 1px 0 #fff; }
#resize-window-dialog label { clear: both; display: block; float: left; line-height: 30px; width: 100px; }
#resize-window-dialog .buttons { clear: both; padding-top: 5px; text-align: right; width: 325px; }
#resize-window-height, #resize-window-width { background-color: #fff; border: 1px inset #ccc; color: #000; cursor: text; float: left; margin-left: 10px; padding: 5px; width: 200px; }
