/* ! Toolbar styles */

.web-developer-toolbar, .web-developer-toolbar *
{
	background-image: none !important;
	-webkit-box-shadow: none !important;
	clear: none !important;
  color: #000 !important;
  cursor: default !important;
  font-family: verdana, "bitstream vera sans", sans-serif !important;
	font-size: 13px !important;
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: normal !important;
  height: auto !important;
	letter-spacing: 0 !important;
	line-height: 1 !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: left !important;
	text-decoration: none !important;
	text-transform: none !important;
  width: auto !important;
}

.web-developer-toolbar { background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee)) !important; border-top: 1px solid #ccc !important; bottom: 0 !important; box-shadow: 0 -1px 2px #333 !important; -webkit-box-shadow: 0 -1px 2px #333 !important; height: 16px !important; left: 0 !important; padding: 10px !important; position: fixed !important; text-shadow: 0 1px 0 #fff !important; width: 100% !important; z-index: 2147483647 !important; }
.web-developer-toolbar h1 { background: url(images/logo.png) no-repeat center right !important; float: right !important; font-size: 15px !important; margin-right: 25px !important; padding-right: 25px !important; }
